@media screen and (max-width:480px) {
    .logo {
        white-space: nowrap;
        font-size: 16px;
        position: relative;
        right: 160px;
    }

    .menu li {
        display: none;
    }

    .main img {
        display: none;
    }

    main .main .text h2 {
        font-size: 12px;
        width: 360px;
        line-height: 19px;
    }

    main .main .text .primeiro {
        font-size: 35px;
        width: 320px;
        position: relative;
        left: 10px;
    }

    .main .text .order {
        position: absolute;
        left: 90px;
    }

    main footer .redes {
        display: flex;
        justify-content: center;
        margin-left: 20px;
        margin-top: 30px;
    }
}

@media screen and (max-width:767px) {

    .header .logo {
        white-space: nowrap;
        margin-left: 200px;
    }

    .header .menu li {
        display: none;
    }

    .main img {
        display: none;
    }

    .main .text h2 {
        line-height: 39px;
        font-size: 25px;
        width: 600px;
        margin-left: 100px;
    }

    .main .text .primeiro {
        position: relative;
        left: 50px;
        margin: 90px;
    }

    footer .redes {
        margin-left: 300px;
    }
}

@media screen and (max-width: 960px) {
    .main img {
        display: none;
    }

    .main .text h2 {
        line-height: 39px;
        font-size: 25px;
        width: 600px;
        margin-left: 100px;
    }

    .main .text .primeiro {
        position: relative;
        left: 180px;
        margin: 50px;
    }

    .main .text h2 {
        width: 800px;
        margin: 50px;
    }

    footer .redes {
        margin-left: 300px;
        margin-top: 80px;
    }

}

@media screen and (max-width:1100px) {
    .main img {
        display: none;
    }

    .main .text .primeiro {
        position: relative;
        left: 180px;
        margin: 50px;
    }

    .main h2 {
        width: 800px;
        margin: 90px;
        line-height: 49px;
    }
    footer .redes {
        margin-left: 300px;
        margin-top: 80px;
    }

}